body{
  background-color: #DAA71A;
	margin:0;
	box-sizing: 0;
}

.form-div {
  padding: 2rem;
	background-color: #ffffff;
	width: 350px;
	border-radius: 2rem;
	/* box-shadow: 2px 4px #0000009d; */
  height: 
  24rem;
  display: flex;
	flex-direction: column;
	
}

.form-div h2 {
	font-style: normal;
	font-family: 'Segoe UI', sans-serif;
	margin:0;
	margin-bottom: 0.2rem;
}

.form-div button {
	margin-top: 2.2rem;
	background-color: #DAA71A;
	border-style: none;
	width: 120px;
	height: 40px;
	font-style: normal;
	font-weight: 600;
	color: #ffffff !important;
	transition: 0.4s;
	border-radius: 1.2rem;
	align-self: center;
}

.form-div button:hover{
	background-color: #ffda76;
}

.form-div-content {
	padding: 12px;
}

.register{
  display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column
  ;
  height: 100%;
}

/* .signup {
	display: flex;
	justify-content: center;
	align-items: center;
  height: 100vh;
}

.signup input {
	border-radius: 12px;
	 box-shadow: 1.5px 2px #0000009d; 
	transition: 0.3s;
  width: 280px;
  height: 48px;
  margin: 0.7rem 0.7rem 0.7rem  0.7rem ;
}

.signup input ::placeholder {
  margin: 2.7rem ;
}


.signup input:hover {
	border-color: #000;
}


.signup input:focus {
	width: 283px;
	height: 53px;
	border-color: #000;
} */



